.form{
    margin: 10px auto 30px;
}

.form input{
    padding: 5px 10px;
    display: block;
    outline: none;
    transition: border-color .4s ease;
    border: 1px solid ;
    margin-bottom: 10px;
}

.form input:focus {
    border: 1px solid lightblue;
}